name: branch-rule-check

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Validate feature branch rule
        run: |
          SRC="${{ github.head_ref }}"
          BASE="${{ github.base_ref }}"

          if [[ "$SRC" == feature/* && "$BASE" != "int_dev" ]]; then
            echo "ERROR: feature/* branches can only target int_dev."
            exit 1
          fi

          echo "OK"
